<div class="container">
    
    <div class="icatch">
        <%= image_tag('police1.png') %>
        <button class="btn">SignUp</button>
    </div>

    <div class="can">
        <h2>Policeでできること</h2>
        
          <div class="row">
            <div class="col-4">
                <%= image_tag('mizaru.svg', class: "svg-can") %>
                <p>自分ルールを作る！</p>
            </div>
            <div class="col-4">
                <%= image_tag('kaku.svg', class: "svg-can") %>
                <p>生活をチェック！</p>
            </div>
            <div class="col-4">
                <%= image_tag('osunayo.svg', class: "svg-can") %>
                <p>対話する！</p>
            </div>
          </div>
        
    </div>
    
    
</div>