<div class="">
  <div class="user-info">                                   <!-- 値取ってきて入れる -->
    <%= image_tag('user1.png', alt: 'user-img') %>
    <p><%= user_name %></p>
  </div>
  
  <div class="religion">
    <h2>〇〇教</h2>                       <!-- 値取ってきて入れる -->
    <%= image_tag('#', alt: 'religion') %>
  </div>
  
  <div class="rule">
    <h2>自分ルール</h2>
    <ol>
      <li></li>                           <!-- 値取ってきて入れる -->
      <li></li>
      <li></li>
    </ol>
  </div>
  
  <div class="routine">
    <h2>Routine</h2>
    <!-- チェックリスト -->
  </div>
  
  <div class="myhappy">
    <h2>My Happy</h2>
    <ol>
      <li></li>                           <!-- 値取ってきて入れる -->
      <li></li>
      <li></li>
    </ol>
  </div>
  
  <div class="copy">
    <h2>キャッチコピー</h2>
    <p></p>
  </div>
  
  <!-- Edit button -->
</div>