<% if @user.errors.any? %>
  <div class="error_explaination">
    <div class="alert alert_danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </ul>
  </div>
<% end %>