// Place all the styles related to the lps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application.css';
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* all */

h1 {
 font-size: 2.5em; 
 margin: .8em 0;
}

h2 {
 font-size: 2em; 
 margin: .8em 0;
}

h3 {
 font-size: 1.5em; 
}

h4 {
    font-size: 1.3em
}

p {
 font-size: 1em; 
}

img {
 max-width: 100%;
}

.container {
 padding: 0;
}



/* navbar  */
.navbar {
 background-color: #ff1744;
 border-bottom: solid 1px #fff
}


/* LP */
.icatch {
 position: relative;
}


.btn {
 position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
   border: solid white 2px;
  padding: 7px;
  color: #ff1744;
  text-decoration: none;
  background-color: #fff;
  box-shadow:#ccc .1em .1em .1em, #ccc -.1em .1em .1em;
}


.can, .howto, .example, .meyasubako, .signup, .copyright {
 text-align: center;
 border-bottom: solid 1px #ccc;
 margin-top: 2em;
 margin-bottom: 2em;
 padding-bottom: 2em;
}

.svg-can {
 background-color: #ff1744;
 border-radius: 50%;
}

.table{
  td {
   display: table-cell;
   vertical-align: middle;
   position: relative;
   i {
    position: absolute;
    bottom: -.5em;
    left: 70%;
    color: #ff1744;
   }
  }
  tbody {
   border-top: none;   
  }
}
.svg-how {
 width: 100%;
}


.example {
 margin: 0 1em 2em 1em;
  img {
   position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.card {
 margin: 1em;
 padding: 0;
 border: solid .1em #ff1744;
 box-shadow: #ccc .1em .1em .1em;
 .card-title {
   padding: 2em .5em;
   background-color: #ff1744;
   color: #fff;
 }
 .card-text {
  padding: .5em 2em 1.5em 2em;
  font-size: 0.8em;
  text-align: left;
   li {
     padding: 1em 0;
   }
 }
}


.copyright {
 border-bottom: none;
 margin-bottom: 0;
}